<% content_for :title, 'Shop Cafe' %>
<% content_for :script, javascript_include_tag(:shop) %>
<% content_for :script do %>
<!-- include  parallax plugin -->
<script type="text/javascript" src="assets/js/jquery.parallax-1.1.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="assets/js/helper-plugins/jquery.mousewheel.min.js"></script>

<!-- include mCustomScrollbar plugin //Custom Scrollbar  -->

<script type="text/javascript" src="assets/js/jquery.mCustomScrollbar.js"></script>

<!-- include icheck plugin // customized checkboxes and radio buttons   -->
<script type="text/javascript" src="assets/js/icheck.min.js"></script>

<% end %>

<div class="container main-container headerOffset-checkout">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><%= link_to 'Home', root_path %></li>
                <li><a href="cart.html">Cart</a></li>
                <li class="active"> Checkout</li>
            </ul>
        </div>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7 col-xs-6 col-xxs-12 text-center-xs">
            <h1 class="section-title-inner"><span><i class="fas fa-shopping-cart"></i> Checkout</span></h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar col-xs-6 col-xxs-12 text-center-xs">
            <h4 class="caps"><%= link_to root_path do %>
                <i class="fa fa-chevron-left"></i> Back to shopping
              <% end %>
            </h4>
        </div>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">
                    <div class="w100 clearfix">
                        <ul class="orderStep orderStepLook2 order-pointer">
                            <li class="active" id="order-step-1">
                              <a><i class="fa fa-map-marker"> </i><span> address </span></a>
                            </li>
                            <li id="order-step-2">
                              <a><i class="fa fa fa-envelope"></i><span> Billing </span></a>
                            </li>
                            <li id="order-step-3">
                              <a><i class="fa fa-truck"></i><span> Shipping </span></a>
                            </li>
                            <li id="order-step-4">
                              <a><i class="fa fa-money"> </i><span> Payment </span></a>
                            </li>
                            <li id="order-step-5">
                              <a><i class="fa fa-check-square "> </i><span> Order </span></a>
                            </li>
                        </ul>
                        <!--/.orderStep end-->
                    </div>
                    <!-- checkout-main -->
                    <div class="w100 clearfix">
                        <div class="row userInfo" id="step-1">
                            <div class="col-lg-12">
                                <h2 class="block-title-2"> To add a new address, please fill out the form below. </h2>
                            </div>

                            <form>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group required">
                                        <label for="InputName">First Name <sup>*</sup> </label>
                                        <input required="" type="text" class="form-control" id="InputName" placeholder="First Name">
                                    </div>
                                    <div class="form-group required">
                                        <label for="InputLastName">Last Name <sup>*</sup> </label>
                                        <input required="" type="text" class="form-control" id="InputLastName" placeholder="Last Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="InputEmail">Email </label>
                                        <input type="text" class="form-control" id="InputEmail" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                      <label for="InputCompany">Company </label>
                                      <input type="text" class="form-control" id="InputCompany" placeholder="Company">
                                  </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                  <div class="form-group required">
                                      <label for="InputAddress">Address <sup>*</sup> </label>
                                      <input required="" type="text" class="form-control" id="InputAddress" placeholder="Address">
                                  </div>
                                  <div class="form-group required">
                                      <label for="InputMobile">Mobile phone <sup>*</sup></label>
                                      <input required="" type="tel" name="InputMobile" class="form-control" id="InputMobile">
                                  </div>
                                </div>
                            </form>
                        </div>

                        <div class="row userInfo" id="step-2">
                            <div class="col-lg-12">
                                <h2 class="block-title-2"> 
                                  To add a new address, please fill out the form below. 
                                </h2>
                            </div>
                            <div class="col-xs-12 col-sm-12">
                                <label class="checkbox-inline" for="checkboxes-0">
                                    <div class="icheckbox_square-green iCheck-margin" style="position: relative;"><input name="checkboxes" id="checkboxes-0" value="1" type="checkbox" style="position: absolute; visibility: hidden;"><ins class="" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                    My delivery and billing addresses are the same. </label>
                                <hr>
                            </div>
                            <form>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group required">
                                        <label for="InputName">First Name <sup>*</sup> </label>
                                        <input required="" type="text" class="form-control" id="InputName" placeholder="First Name">
                                    </div>
                                    <div class="form-group required">
                                        <label for="InputLastName">Last Name <sup>*</sup> </label>
                                        <input required="" type="text" class="form-control" id="InputLastName" placeholder="Last Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="InputEmail">Email </label>
                                        <input type="text" class="form-control" id="InputEmail" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                      <label for="InputCompany">Company </label>
                                      <input type="text" class="form-control" id="InputCompany" placeholder="Company">
                                  </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                  <div class="form-group required">
                                      <label for="InputAddress">Address <sup>*</sup> </label>
                                      <input required="" type="text" class="form-control" id="InputAddress" placeholder="Address">
                                  </div>
                                  <div class="form-group required">
                                      <label for="InputMobile">Mobile phone <sup>*</sup></label>
                                      <input required="" type="tel" name="InputMobile" class="form-control" id="InputMobile">
                                  </div>
                                </div>
                            </form>
                        </div>

                        <div class="row userInfo" id="step-3">
                            <div class="col-lg-12">
                                <h2 class="block-title-2"> Choose your delivery method </h2>
                            </div>
                            <div class="col-xs-12 col-sm-12">
                                <div class="w100 row">
                                    <div class="form-group col-lg-4 col-sm-4 col-md-4 -col-xs-12">
                                        <label for="id_country">Country</label>
                                        <select class="form-control select2-hidden-accessible" required="" aria-required="true" id="id_country" name="id_country" tabindex="-1" aria-hidden="true">
                                            <option value="">Choose</option>
                                            <option value="38">Algeria</option>
                                            <option value="39">American Samoa</option>
                                            <option value="40">Andorra</option>
                                            <option value="41">Angola</option>
                                            <option value="42">Anguilla</option>
                                            <option value="43">Antigua and Barbuda</option>
                                            <option value="44">Argentina</option>
                                            <option value="45">Armenia</option>
                                            <option value="46">Aruba</option>
                                            <option value="24">Australia</option>
                                            <option value="2">Austria</option>
                                            <option value="47">Azerbaijan</option>
                                            <option value="48">Bahamas</option>
                                            <option value="49">Bahrain</option>
                                            <option value="50">Bangladesh</option>
                                            <option value="3">Belgium</option>
                                            <option value="34">Bolivia</option>
                                            <option value="4">Canada</option>
                                            <option value="5">China</option>
                                            <option value="16">Czech Republic</option>
                                            <option value="20">Denmark</option>
                                            <option value="7">Finland</option>
                                            <option value="8">France</option>
                                            <option value="1">Germany</option>
                                            <option value="9">Greece</option>
                                            <option value="22">HongKong</option>
                                            <option value="26">Ireland</option>
                                            <option value="29">Israel</option>
                                            <option value="10">Italy</option>
                                            <option value="32">Ivory Coast</option>
                                            <option value="11">Japan</option>
                                            <option value="12">Luxemburg</option>
                                            <option value="35">Mauritius</option>
                                            <option value="13">Netherlands</option>
                                            <option value="27">New Zealand</option>
                                            <option value="31">Nigeria</option>
                                            <option value="23">Norway</option>
                                            <option value="14">Poland</option>
                                            <option value="15">Portugal</option>
                                            <option value="36">Romania</option>
                                            <option value="25">Singapore</option>
                                            <option value="37">Slovakia</option>
                                            <option value="30">South Africa</option>
                                            <option value="28">South Korea</option>
                                            <option value="6">Spain</option>
                                            <option value="18">Sweden</option>
                                            <option value="19">Switzerland</option>
                                            <option value="33">Togo</option>
                                            <option value="17">United Kingdom</option>
                                            <option selected="selected" value="21">United States</option>
                                        </select><span class="select2 select2-container select2-container--default select2-container--above" dir="ltr" style="width: 223px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-id_country-container"><span class="select2-selection__rendered" id="select2-id_country-container" title="United States">United States</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </div>
                                    <div id="states" class="form-group  col-lg-4 col-sm-4 col-md-4 -col-xs-12">
                                        <label for="id-state">State</label>
                                        <select class="form-control select2-hidden-accessible" required="" aria-required="true" id="id-state" name="id-state" tabindex="-1" aria-hidden="true">
                                            <option value="">Choose</option>
                                            <option value="1">Alabama</option>
                                            <option value="2">Alaska</option>
                                            <option value="3">Arizona</option>
                                            <option value="4">Arkansas</option>
                                            <option value="5">California</option>
                                            <option value="6">Colorado</option>
                                            <option value="7">Connecticut</option>
                                            <option value="8">Delaware</option>
                                            <option value="9">Florida</option>
                                            <option value="10">Georgia</option>
                                            <option value="11">Hawaii</option>
                                            <option value="12">Idaho</option>
                                            <option value="13">Illinois</option>
                                            <option value="14">Indiana</option>
                                            <option value="15">Iowa</option>
                                            <option value="16">Kansas</option>
                                            <option value="17">Kentucky</option>
                                            <option value="18">Louisiana</option>
                                            <option value="19">Maine</option>
                                            <option value="20">Maryland</option>
                                            <option value="21">Massachusetts</option>
                                            <option value="22">Michigan</option>
                                            <option value="23">Minnesota</option>
                                            <option value="24">Mississippi</option>
                                            <option value="25">Missouri</option>
                                            <option value="26">Montana</option>
                                            <option value="27">Nebraska</option>
                                            <option value="28">Nevada</option>
                                            <option value="29">New Hampshire</option>
                                            <option value="30">New Jersey</option>
                                            <option value="31">New Mexico</option>
                                            <option value="32">New York</option>
                                            <option value="33">North Carolina</option>
                                            <option value="34">North Dakota</option>
                                            <option value="35">Ohio</option>
                                            <option value="36">Oklahoma</option>
                                            <option value="37">Oregon</option>
                                            <option value="38">Pennsylvania</option>
                                            <option value="39">Rhode Island</option>
                                            <option value="40">South Carolina</option>
                                            <option value="41">South Dakota</option>
                                            <option value="42">Tennessee</option>
                                            <option value="43">Texas</option>
                                            <option value="44">Utah</option>
                                            <option value="45">Vermont</option>
                                            <option value="46">Virginia</option>
                                            <option value="47">Washington</option>
                                            <option value="48">West Virginia</option>
                                            <option value="49">Wisconsin</option>
                                            <option value="50">Wyoming</option>
                                            <option value="51">Puerto Rico</option>
                                            <option value="52">US Virgin Islands</option>
                                            <option value="53">District of Columbia</option>
                                        </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 223px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-id-state-container"><span class="select2-selection__rendered" id="select2-id-state-container" title="Choose">Choose</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </div>
                                    <div class="form-group  col-lg-4 col-sm-4 col-md-4 -col-xs-12">
                                        <label for="zipcode">Zip Code</label>
                                        <input type="text" id="zipcode" name="zipcode" class="form-control">
                                        (Needed for certain carriers.)
                                    </div>
                                    <div class="form-group col-lg-12 col-sm-12 col-md-12 -col-xs-12">
                                        <table style="width:100%" class="table-bordered table tablelook2">
                                            <tbody>
                                            <tr>
                                                <td> Carrier</td>
                                                <td>Method</td>
                                                <td>Information</td>
                                                <td>Price!</td>
                                            </tr>
                                            <tr>
                                                <td><label class="radio">
                                                    <div class="iradio_square-green iChk iCheck-margin checked" style="position: relative;"><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                                    <i class="fa  fa-plane fa-2x"></i> </label></td>
                                                <td> By Road</td>
                                                <td>Pick up in-store</td>
                                                <td>Free!</td>
                                            </tr>
                                            <tr>
                                                <td><label class="radio">
                                                    <div class="iradio_square-green iChk iCheck-margin" style="position: relative;"><input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                                    <i class="fa fa-truck fa-2x"></i> </label></td>
                                                <td>By Air</td>
                                                <td>Delivery next day!</td>
                                                <td>Free!</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <!--/row-->

                                <!-- <div class="cartFooter w100">
                                  <div class="box-footer">
                                    <div class="pull-left">
                                      <button type="button" class="btn btn-default" onclick="load_steps_checkout(2)">
                                        <i class="fa fa-arrow-left"></i> &nbsp; Shipping method 
                                      </button>
                                    </div>
                                    <div class="pull-right">
                                      <button type="button" onclick="load_steps_checkout(4)" class="btn btn-primary btn-small "> Payment Method &nbsp; <i class="fa fa-arrow-circle-right"></i> 
                                      </button>
                                    </div>
                                  </div>
                                </div> -->
                                <!--/ cartFooter -->

                            </div>
                        </div>

                        <div class="row userInfo" id="step-4">
                            <div class="col-lg-12">
                                <h2 class="block-title-2"> Payment method </h2>

                                <p>Please select the preferred shipping method to use on this order.</p>
                                <hr>
                            </div>
                            <div class="col-xs-12 col-sm-12">
                                <div class="paymentBox">
                                    <div class="panel-group paymentMethod" id="accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading panel-heading-custom">
                                                <h4 class="panel-title"><a class="cashOnDelivery" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                    <span class="numberCircuil">Option 1</span> <strong> Cash on
                                                    Delivery</strong> </a></h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <p>All transactions are secure and encrypted, and we neverstor To
                                                        learn more, please view our privacy policy.</p>
                                                    <br>
                                                    <label class="radio-inline" for="radios-4">
                                                        <div class="iradio_square-green iChk iCheck-margin" style="position: relative;"><input name="radios" id="radios-4" value="4" type="radio" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                                        Cash On Delivery </label>

                                                    <div class="form-group">
                                                        <label for="CommentsOrder">Add Comments About Your Order</label>
                                                        <textarea id="CommentsOrder" class="form-control" name="CommentsOrder" cols="26" rows="3"></textarea>
                                                    </div>
                                                    <div class="form-group clearfix">
                                                        <label class="checkbox-inline" for="checkboxes-1">
                                                            <div class="icheckbox_square-green iCheck-margin" style="position: relative;"><input name="checkboxes" id="checkboxes-1" value="1" type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                                            I have read and agree to the <a href="terms-conditions.html">Terms &amp; Conditions</a>
                                                        </label>
                                                    </div>
                                                    <div class="pull-right"><button type="button" class="btn btn-primary btn-small" onclick="load_steps_checkout(5)"> <i class="fa fa-arrow-circle-right"></i> &nbsp; Order </button></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading panel-heading-custom">
                                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion">
                                                    <span class="numberCircuil">Option 2</span><strong> PayPal</strong>
                                                </a></h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse">
                                                <div class="panel-body">
                                                    <p>All transactions are secure and encrypted, and we neverstor To
                                                        learn more, please view our privacy policy.</p>
                                                    <br>
                                                    <label class="radio-inline" for="radios-3">
                                                        <div class="iradio_square-green iChk iCheck-margin" style="position: relative;"><input name="radios" id="radios-3" value="4" type="radio" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                                        <img src="images/site/payment/paypal-small.png" height="18" alt="paypal"> Checkout with Paypal </label>

                                                    <div class="form-group">
                                                        <label for="CommentsOrder2">Add Comments About Your
                                                            Order</label>
                                                        <textarea id="CommentsOrder2" class="form-control" name="CommentsOrder2" cols="26" rows="3"></textarea>
                                                    </div>
                                                    <div class="form-group clearfix">
                                                        <label class="checkbox-inline" for="checkboxes-0">
                                                            <div class="icheckbox_square-green iCheck-margin" style="position: relative;"><input name="checkboxes" id="checkboxes-0" value="1" type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                                            I have read and agree to the <a href="terms-conditions.html">Terms &amp; Conditions</a>
                                                        </label>
                                                    </div>
                                                    <div class="pull-right"><button type="button" class="btn btn-primary btn-small" onclick="load_steps_checkout(5)"> <i class="fa fa-arrow-circle-right"></i> &nbsp; Order </button></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading panel-heading-custom">
                                                <h4 class="panel-title"><a class="masterCard" data-toggle="collapse" data-parent="#accordion"> <span class="numberCircuil">Option 3</span> <strong>
                                                    MasterCard</strong> </a></h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse">
                                                <div class="panel-body">
                                                    <p>All transactions are secure and encrypted, and we neverstor To
                                                        learn more, please view our privacy policy.</p>
                                                    <br>

                                                    <div class="panel open">
                                                        <div class="creditCard">
                                                            <div class="cartBottomInnerRight paymentCard">
                                                            </div>
                                                            <span>Supported</span> <span>Credit Cards</span>

                                                            <div class="paymentInput">
                                                                <label for="CardNumber">Credit Card Number *</label>
                                                                <br>
                                                                <input id="CardNumber" type="text" name="Number">
                                                            </div>
                                                            <!--paymentInput-->
                                                            <div class="paymentInput">
                                                                <label for="CardNumber2">Name on Credit Card *</label>
                                                                <br>
                                                                <input type="text" name="CardNumber2" id="CardNumber2">
                                                            </div>
                                                            <!--paymentInput-->
                                                            <div class="paymentInput">
                                                                <div class="form-group">
                                                                    <label>Expiration date *</label>
                                                                    <br>

                                                                    <div class="col-lg-4 col-md-4 col-sm-4 no-margin-left no-padding">
                                                                        <select class="form-control select2-hidden-accessible" required="" aria-required="true" name="expire" tabindex="-1" aria-hidden="true">
                                                                            <option value="">Month</option>
                                                                            <option value="1">01 - January</option>
                                                                            <option value="2">02 - February</option>
                                                                            <option value="3">03 - March</option>
                                                                            <option value="4">04 - April</option>
                                                                            <option value="5">05 - May</option>
                                                                            <option value="6">06 - June</option>
                                                                            <option value="7">07 - July</option>
                                                                            <option value="8">08 - August</option>
                                                                            <option value="9">09 - September</option>
                                                                            <option value="10">10 - October</option>
                                                                            <option value="11">11 - November</option>
                                                                            <option value="12">12 - December</option>
                                                                        </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-expire-4c-container"><span class="select2-selection__rendered" id="select2-expire-4c-container" title="Month">Month</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                                    </div>
                                                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                                                        <select class="form-control select2-hidden-accessible" required="" aria-required="true" name="year" tabindex="-1" aria-hidden="true">
                                                                            <option value="">Year</option>
                                                                            <option value="2013">2013</option>
                                                                            <option value="2014">2014</option>
                                                                            <option value="2015">2015</option>
                                                                            <option value="2016">2016</option>
                                                                            <option value="2017">2017</option>
                                                                            <option value="2018">2018</option>
                                                                            <option value="2019">2019</option>
                                                                            <option value="2020">2020</option>
                                                                            <option value="2021">2021</option>
                                                                            <option value="2022">2022</option>
                                                                            <option value="2023">2023</option>
                                                                        </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-year-qp-container"><span class="select2-selection__rendered" id="select2-year-qp-container" title="Year">Year</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--paymentInput-->

                                                            <div style="clear:both"></div>
                                                            <div class="paymentInput clearfix">
                                                                <label for="VerificationCode">Verification Code
                                                                    *</label>
                                                                <br>
                                                                <input type="text" id="VerificationCode" name="VerificationCode" style="width:90px;">
                                                                <br>
                                                            </div>
                                                            <!--paymentInput-->

                                                            <div>
                                                                <div class="icheckbox_square-green iCheck-margin" style="position: relative;"><input type="checkbox" name="saveInfo" id="saveInfoid" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                                                <label for="saveInfoid">&nbsp;Save my Card
                                                                    information</label>
                                                            </div>
                                                        </div>
                                                        <!--creditCard-->

                                                        <div class="pull-right">
                                                        <button type="button" class="btn btn-primary btn-small" onclick="load_steps_checkout(5)"> <i class="fa fa-arrow-circle-right"></i> &nbsp; Order </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--/row-->

                            </div>
                        </div>

                        <div class="row userInfo" id="step-5">

                            <div class="col-lg-12">
                                <h2 class="block-title-2"> Review Order </h2>
                            </div>


                            <div class="col-xs-12 col-sm-12">
                                <div class="cartContent w100 checkoutReview ">
                                    <table class="cartTable table-responsive" style="width:100%">
                                        <tbody>
                                        <tr class="CartProduct cartTableHeader">
                                            <th style="width:15%"> Product</th>
                                            <th class="checkoutReviewTdDetails">Details</th>
                                            <th style="width:10%">Unit Price</th>
                                            <th class="hidden-xs" style="width:5%">QNT</th>
                                            <th class="hidden-xs" style="width:10%">Discount</th>
                                            <th style="width:15%">Total</th>
                                        </tr>
                                        <tr class="CartProduct">
                                            <td class="CartProductThumb">
                                                <div><a href="product-details.html"><img src="images/product/3.jpg"></a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="CartDescription">
                                                    <h4><a href="product-details.html">Denim T shirt Black </a></h4>
                                                    <span class="size">12 x 1.5 L</span>

                                                </div>
                                            </td>
                                            <td class="delete">
                                                <div class="price ">$116.51</div>
                                            </td>
                                            <td class="hidden-xs">1</td>
                                            <td class="hidden-xs">0</td>
                                            <td class="price">$116.51</td>
                                        </tr>
                                        <tr class="CartProduct">
                                            <td class="CartProductThumb">
                                                <div><a href="product-details.html"><img src="images/product/2.jpg"></a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="CartDescription">
                                                    <h4><a href="product-details.html">Denim T shirt </a></h4>
                                                    <span class="size">12 x 1.5 L</span>

                                                </div>
                                            </td>
                                            <td class="delete">
                                                <div class="price ">$50</div>
                                            </td>
                                            <td class="hidden-xs">1</td>
                                            <td class="hidden-xs">0</td>
                                            <td class="price">$50</td>
                                        </tr>
                                        <tr class="CartProduct">
                                            <td class="CartProductThumb">
                                                <div><a href="product-details.html"><img src="images/product/5.jpg"></a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="CartDescription">
                                                    <h4><a href="product-details.html">Denim T shirt Red </a></h4>
                                                    <span class="size">12 x 1.5 L</span>

                                                </div>
                                            </td>
                                            <td class="delete">
                                                <div class="price ">$50</div>
                                            </td>
                                            <td class="hidden-xs">1</td>
                                            <td class="hidden-xs">0</td>
                                            <td class="price">$50</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--cartContent-->

                                <div class="w100 costDetails">
                                    <div class="table-block" id="order-detail-content">
                                        <table class="std table" id="cart-summary">
                                            <tbody><tr>
                                                <td>Total products</td>
                                                <td class="price">$216.51</td>
                                            </tr>
                                            <tr style="">
                                                <td>Shipping</td>
                                                <td class="price"><span class="success">Free shipping!</span></td>
                                            </tr>
                                            <tr class="cart-total-price ">
                                                <td>Total (tax excl.)</td>
                                                <td class="price">$216.51</td>
                                            </tr>
                                            <tr>
                                                <td>Total tax</td>
                                                <td id="total-tax" class="price">0.00</td>
                                            </tr>
                                            <tr>
                                                <td> Total</td>
                                                <td id="total-price" class="price">$216.51</td>
                                            </tr>
                                            </tbody><tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--/costDetails-->


                                <!--/row-->


                            </div>
                        </div>
                    </div>

                    <div class="cartFooter w100">
                        <div class="box-footer" id="btn-step-1">
                          <div class="pull-left">
                            <%= link_to root_path, class: 'btn btn-default' do %>
                              <i class="fa fa-arrow-left"></i> &nbsp; Back to Shop </a>
                            <% end %>
                          </div>
                          <div class="pull-right">
                            <button type="button" class="btn btn-primary btn-small" onclick="load_steps_checkout(2)">Shipping address &nbsp; <i class="fa fa-arrow-circle-right"></i>
                            </button>
                          </div>
                        </div>

                        <div class="box-footer" id="btn-step-2">
                          <div class="pull-left">
                              <button type="button" class="btn btn-default" onclick="load_steps_checkout(1)">
                                <i class="fa fa-arrow-left"></i> &nbsp; Shipping address 
                              </button>
                          </div>
                          <div class="pull-right">
                              <button type="button" onclick="load_steps_checkout(3)" class="btn btn-primary btn-small">Shipping method &nbsp; <i class="fa fa-arrow-circle-right"></i> 
                              </button></div>
                        </div>

                        <div class="box-footer" id="btn-step-3">
                            <div class="pull-left">
                              <button type="button" class="btn btn-default" onclick="load_steps_checkout(2)">
                                <i class="fa fa-arrow-left"></i> &nbsp; Shipping method 
                              </button>
                            </div>
                            <div class="pull-right">
                              <button type="button" onclick="load_steps_checkout(4)" class="btn btn-primary btn-small "> Payment Method &nbsp; <i class="fa fa-arrow-circle-right"></i> 
                              </button>
                            </div>
                        </div>

                        <div class="box-footer" id="btn-step-4">
                          <div class="pull-left"><button type="button" class="btn btn-default" onclick="load_steps_checkout(3)"> <i class="fa fa-arrow-left"></i> &nbsp; Billing address </button>
                          </div>
                        </div>

                        <div class="box-footer" id="btn-step-5">
                          <div class="pull-left"><button type="button" class="btn btn-default" onclick="load_steps_checkout(4)"><i class="fa fa-arrow-left"></i> &nbsp; Payment method 
                            </button>
                          </div>
                          <div class="pull-right">
                            <a href="thanks-for-order.html" class="btn btn-primary btn-small ">
                                Confirm Order &nbsp; <i class="fa fa-check"></i>
                            </a>
                          </div>
                        </div>
                    </div>
                    <!--/ cartFooter -->
                </div>
            </div>
            <!--/row end-->
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 rightSidebar">
            <div class="w100 cartMiniTable">
                <table id="cart-summary" class="std table">
                    <tbody>
                    <tr>
                        <td>Total products</td>
                        <td class="price">$216.51</td>
                    </tr>
                    <tr style="">
                        <td>Shipping</td>
                        <td class="price"><span class="success">Free shipping!</span></td>
                    </tr>
                    <tr class="cart-total-price ">
                        <td>Total (tax excl.)</td>
                        <td class="price">$216.51</td>
                    </tr>
                    <tr>
                        <td>Total tax</td>
                        <td class="price" id="total-tax">$0.00</td>
                    </tr>
                    <tr>
                        <td> Total</td>
                        <td class=" site-color" id="total-price">$216.51</td>
                    </tr>
                    </tbody>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!--  /cartMiniTable-->

        </div>
    </div>
    <!--/row-->
</div>
