<div class="panel panel-default">
  <div class="panel-heading">
    <%= "List my comments" %>
  </div>
  <div class="panel-body">
    <div class="wishlist-item table-responsive">
      <% if @my_comments.empty? %>
        <h4>No comment</h4>
      <% else %>
        <table class="table">
          <thead>
            <tr>
              <th class="text-center">Image</th>
              <th>Product</th>
              <th>Content</th>
              <th>Date Created</th>
            </tr>
          </thead>
          <tbody id="list-order">
            <%= render partial: "my_comment", collection: @my_comments %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
<% if @lenOfMyComments < 10%>
  <div class="col-lg-12 text-center ">
    <ul class="pagination pagination">  
      <li class="prev"><a>Previous</a></li>
      <li class="active"><a>1</a></li> 
      <li class="next"><a>Next &#8594;</a></li>
    </ul>
  </div>
<% else %>
  <div class="col-lg-12 text-center ">
    <%= will_paginate(@my_comments, renderer: BootstrapPagination::Rails) %>
  </div>
<% end %>
