<div class="col-lg-6">
  <div class="input-group">
  <input type="text" class="form-control mt-3" placeholder="Search for...">
  <span class="input-group-btn">
  <button class="btn btn-secondary" type="button">Search!</button>
  </span>
  </div>
</div>
