<div id="page-wrapper" class="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Update product</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
    </div>
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-offset-2 col-lg-8">
              <%= render "product_form", collection: @product %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
