<% content_for :title, 'Shop Cafe' %>
<% content_for :script, javascript_include_tag(:shop) %>
<% content_for :script do %>
  <!-- include  parallax plugin -->
  <script type="text/javascript" src="assets/js/jquery.parallax-1.1.js"></script>

  <!-- optionally include helper plugins -->
  <script type="text/javascript" src="assets/js/helper-plugins/jquery.mousewheel.min.js"></script>

  <!-- include mCustomScrollbar plugin //Custom Scrollbar  -->

  <script type="text/javascript" src="assets/js/jquery.mCustomScrollbar.js"></script>

  <!-- include icheck plugin // customized checkboxes and radio buttons   -->
  <script type="text/javascript" src="assets/plugins/icheck-1.x/icheck.min.js"></script>
  <% @categories.each do |categories| %>
        <ul class="nav nav-pills nav-stacked tree">
          <li class="active dropdown-tree open-tree"><a class="dropdown-tree-a">
          <% @category_child = Category.where(parent_id: categories.id)%>
          <span class="badge pull-right"><%= @category_child.size %></span> <%= categories.name %> </a>
            
            <% @category_child.each do |category_child| %>
            <ul class="category-level-2 dropdown-menu-tree">
              <li class="dropdown-tree"><a class="dropdown-tree-a" href="sub-category.html">
              <%= category_child.name %></a>
              </li>
            </ul>
            <% end %>
          </li>
        </ul> 
      <% end %>   

<% end %>
