<tr>
  <td><%= type.id %></td>
  <td><%= type.name %></td>
  <td>
  <%= link_to type_path(type), 
    method: :delete,
    data: {confirm: "Do you want detele this type"} do %>
    <i class="pe-7s-trash"></i>
  <% end %>
  |
  <%= link_to edit_type_path(type) do %>
    <i class="pe-7s-pen"></i>
  <% end %>
  </td>
</tr>

