<div id="page-wrapper" class="page-wrapper">
  <div class="row">
    <div class="col-sm-offset-1 col-lg-10">
      <h1 class="page-header">Update type</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-2 col-lg-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-offset-2 col-lg-6">
              <%= render "type_form" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
