<div class="panel panel-default">
  <div class="panel-heading">
    <%= t ".list_order_detail" %>
  </div>
  <div class="panel-body">
    <div class="wishlist-item table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Size</th>
            <th>Type</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody id="list-order-detail">
          <%= render partial: "order_detail", collection: @order_details %>
        </tbody>
      </table>
    </div>
  </div>
</div>
