<footer>
  <div class="footer-bottom mr-top">
    <div class="container">
      <p class="pull-left"> &copy; CAFETERIA COFFEE 2018. All right reserved. </p>

      <div class="pull-right paymentMethodImg">
        <ul class="social">
          <li><a target="_blank" href="http://facebook.com"><i class="fab fa-facebook"> &nbsp; </i></a></li>
          <li><a target="_blank" href="http://twitter.com"><i class="fab fa-twitter"> &nbsp; </i></a></li>
          <li><a target="_blank" href="https://plus.google.com"><i class="fab fa-google-plus"> &nbsp; </i></a></li>
          <li><a target="_blank" href="http://pinterest.com"><i class="fab fa-pinterest"> &nbsp; </i></a></li>
          <li><a target="_blank" href="http://youtube.com"><i class="fab fa-youtube-square"> &nbsp; </i></a></li>
        </ul> 
      </div>
    </div>
  </div>
  <!--/.footer-bottom-->
</footer>
      
