<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="/code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div id="page-wrapper" class="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Order detail</h1>
    </div>
  </div>
  <div class="row">
    <div class="pull-left">
      <div class="panel-heading">
        <%= link_to customers_path, 
        class: "btn btn-primary btn-lg btn-block" do%>
          <i class="fa fa-arrow-left"> </i>&nbsp; Back
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12" id="list-order-detail">
      <%= render "list_order_detail" %>
    </div>
  </div>
</div>
