<div class="panel panel-default">
  <div class="panel-heading">
    <%= t ".list_order_detail" %>
  </div>
  <div class="panel-body">
    <div class="wishlist-item table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th class="text-center">id</th>
            <th class="text-center">name</th>
            <th class="text-center">image</th>
            <th class="text-center">price</th>
            <th class="text-center">size</th>
            <th class="text-center">type</th>
            <th class="text-center">quantity</th>
            <th class="text-center">total</th>
          </tr>
        </thead>
        <tbody id="list-order-detail">
          <%= render partial: "order_detail", collection: @order_details %>
        </tbody>
      </table>
    </div>
  </div>
</div>
