<tr>
  <td><%= order_detail.product.id %></td>
  <!-- <td><%#= image_tag order_detail.product.image_link.url %></td> -->
  <td><%= order_detail.product.name %></td>
  <td><%= order_detail.quantity %></td>
  <td><%= order_detail.total_payment %></td>
  <td></td>
</tr>
