<div class="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Manager users</h1>
    </div>
  </div>
  <div>
  <div class="col-lg-12">
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <%= yield %>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5>List user</h5>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Avatar</th>
                  <th>First name</th>    
                  <th>Last name</th>
                  <th>Email</th>
                  <th>Address</th>
                  <th>PhoneNumber</th>
                  <th>Function</th>
                </tr>
              </thead>
              <tbody id="list-category">
                <%= render partial: "user", collection: @users %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
